
{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "ie >= 10",
                        "iOS >= 9",
                        "last 2 Chrome versions",
                        "last 2 Firefox versions",
                        "last 2 Edge versions",
                        "last 2 ChromeAndroid versions",
                        "last 2 Safari versions"
                    ]
                }
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "styled-components"
    ]
}
